/* * {
	margin: 0;
	padding: 0;
} */

.container {
	display: grid;
	grid-template-columns: 25% 25%;
}
.messageBoard {
	padding: 5px;
	border: 1px solid black;
}
table, table * {
	border: 1px solid black;
}
table a {
	border: none;
}