
.connectionscol1 h1 {
    text-align: center;
    
}


.connectionscol2 h1 {
    text-align: center;
    } 


 .friends{
        border:1px solid black;
        
        
       
    } 
    
.enemies{
        border:1px solid black;
        
    }
    
h1{
        
        padding-top:10px;
        padding-bottom:10px;
        color:white;
        background-color:green;
        margin-right:20px;
        text-align:center;
        margin-top:20px;
        margin-left:20px;
        margin-bottom:20px;
    }

th { 
    font-size: x-large;
    color:white;
    background-color:green;
    border:1px solid black;
    padding-left:50px;
    padding-right:60px;
    padding-top:10px;
    padding-bottom:10px;
    margin-left:20px;
}





td {
    font-size:larger;
    text-align:center;
    border:1px solid black;
    background-color:rgb(227, 250, 224);


}

.link{
	margin-left:0px;
}
	


table {
    margin-left:25px;
    margin-bottom:20px;
    
}

.heart {
    width:55px;
    height:55px;
    margin-top:10px;
    margin-bottom:10px;
}

.skull {
    width:60px;
    height:55px;
    margin-top:10px;
    margin-bottom:10px;
}  
