.dash {
	column-gap: 20px;
}
.row {
	padding: 10px;
	border: 1px solid black;
}
#profileImage {
	margin: 0 15px 0 0;
	vertical-align: middle;
	width: 150px;
}
h3 {
	margin: 0 0 10px 0;
	padding: 0 5px;
	background-color: #00b2389e;
	color: black;
}
.profileRow {
	display: grid;
	grid-template-columns: auto 1fr;
}
.connections {
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	justify-items: center;
}
.connections img {
	width: 75px;
	height: 75px;
	padding: 2px;
	border: 1px solid black;
}
.connections p {
	text-align: center;
}
.content {
	width: 370px;
	padding: 5px;
	border-radius: 0%;
	font-size: 15px;
	margin: 0 0 10px 0;
}
.submit {
	padding: 5px;
	font-size: 15px;
	border-radius: 0%;
}
.feed {
	display: grid;
}
.error {
	justify-self:center;
	margin: 0 0 10px 0;
	color:red;
}
.form {
	justify-self: center;
}
.feedSubHeader {
	margin: 0 0 10px 0;
}
.friendRequests {
	display: grid;
	justify-items: center;
}
.friendRequests form, .friendRequests p {
	display: inline-block;
}