
.main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap:20px;
    row-gap: 10px;
}
.row {
	display: grid;
	grid-template-columns: auto auto;
	border: 1px solid black;
	padding: 10px;
}
.row a {
	justify-self: right;
}